<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지사항 확인</title>
</head>
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h1 class="mt-4">공지사항</h1>
        <p>공부에 필요한 공지 및 일정관련 내용이 올라옵니다 :)</p>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">제목</th>
                <th scope="col">내용</th>
                <th scope="col">작성자</th>
                <th scope="col">등록일</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="dto : ${result.dtoList}">
                <th scope="row">[[${dto.gno}]]</th>
                <td>[[${dto.title}]]</td>
                <td>[[${dto.content}]]</td>
                <td>[[${dto.uno}]]</td>
                <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
            </tr>
            </tbody>
        </table>
        <ul class="pagination h-100 justify-content-center align-items-center">
            <li class="page-item " th:if="${result.prev}">
                <a class="page-link" th:href="@{/notice/list(page= ${result.start-1})}" tabindex="-1">Previous</a>
            </li>
            <li th:class=" 'page-item ' + ${result.page == page ? 'active' : ''} " th:each="page: ${result.pageList}">
                <a class="page-link" th:href="@{/notice/list(page= ${page})}">[[${page}]]</a>
            </li>
            <li class="page-item " th:if="${result.next}">
                <a class="page-link" th:href="@{/notice/list(page= ${result.end+1})}">Next</a>
            </li>
        </ul>
    </th:block>
</th:block>